.map {
  width: 90%;
}

.pagination a {
  margin: 0 .5em;
}

svg circle:hover {
  cursor: crosshair;
}

svg path {
  stroke: white;
  stroke-width: 0.2;
}

svg circle.destination {
  stroke: red;
  stroke-width: .3;
  fill: transparent;
  r: 0.8;
}

svg circle.source {
  fill: lightgreen;
  r: 0.5;
}